@{
}

@model IEnumerable<int>

<div class="d-grid gap-2">
    <p>
        Filter by Crash Severity: <br />
        <small>(5 being most severe)</small>
    </p>


    @foreach (int t in Model)
    {
        <a asp-controller="Home" asp-action="Crash" asp-route-crashseverityid="@t" asp-route-pageNum="1"
           class="btn @(ViewBag.SelectedType == t.ToString() ? "btn-primary" : "btn-outline-secondary")">@t</a>
    }
    
    <a asp-controller="Home" asp-action="Crash" asp-route-crashseverityid="0" asp-route-pageNum="1" class="btn btn-outline-secondary">Clear Filter</a>

</div>
