<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Regna/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />



    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Regna/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link href="~/Regna/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Regna/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Regna/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/Regna/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="~/Regna/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="~/Regna/assets/css/style.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/lib/img/car.png" />
    <!-- =======================================================
    * Template Name: Regna - v4.7.0
    * Template URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>
        @RenderBody()
        <p>THis wokrsd</p>
    </div>
    <!-- Vendor JS Files -->

    <script src="~/Regna/assets/vendor/purecounter/purecounter.js"></script>
    <script src="~/Regna/assets/vendor/aos/aos.js"></script>
    <script src="~/Regna/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Regna/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Regna/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Regna/assets/vendor/swiper/swiper-bundle.min.js"></script>

    @*<script src="~/Regna/assets/vendor/php-email-form/validate.js"></script>*@

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="~/Regna/assets/js/main.js"></script>

    <!--Group 3-15 Scripts-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
