@{
    ViewData["Title"] = "Home Page";
}

<div class="consentBanner">
    <partial name="_cookieconsentpartial" />
</div>

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
        
        <h1>Introducing Safer Utah</h1>
        <h2>Inform - Predict - Reduce</h2>
        <a href="#about" class="btn-get-started">learn more</a>
        @*<div class="consentBanner">
                <partial name="_cookieconsentpartial" />
            </div>*@
    </div>
</section><!-- End Hero Section -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
        <div class="container" data-aos="fade-up">
            <div class="row about-container">

                <div class="col-lg-6 content order-lg-1 order-2">
                    <h2 class="title">Our Mission</h2>
                    <p>
                        About 180 car crashes occur in the state of Utah every day. We strive to make a lasting impact in Utah communities through lowering their vehicle collision rates and severity.
                        Data on accidents and their causes has been gathered and anaylized to discover the causes behind crashes in each city.
                        Currently we have focused our efforts in the state of Utah but hope to expand in time.
                    </p>

                    @*<div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                            <div class="icon"><i class="bi bi-briefcase"></i></div>
                            <h4 class="title"><a href=""></a></h4>
                            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                        </div>

                        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                            <div class="icon"><i class="bi bi-card-checklist"></i></div>
                            <h4 class="title"><a href="">Magni Dolores</a></h4>
                            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                        </div>

                        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                            <div class="icon"><i class="bi bi-binoculars"></i></div>
                            <h4 class="title"><a href="">Dolor Sitema</a></h4>
                            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
                        </div>*@

                </div>

                <div class="col-lg-6 background order-lg-2 order-1" data-aos="fade-left" data-aos-delay="100"></div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Facts Section ======= -->
    <section id="facts">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h3 class="section-title">A Mission to Make a Difference</h3>
                <p id="davideo" class="section-description">Our mission is to Inform, Predict, and Reduce. Learn more about how our mission is helping us make an impact on Utah's communities.</p>
                <center><iframe width="560" height="315" src="https://www.youtube.com/embed/dZo0Il_d5Ds" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
            </div>
           

        </div>
    </section>
    <!-- End Facts Section -->
    <!-- ======= Services Section ======= -->
    <section id="services">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h3 class="section-title">Services</h3>
                <p class="section-description">Tools and Resources from Safter Utah</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6" data-aos="zoom-in">
                    <div class="box">
                        <div class="icon"><a href="#davideo"><i class="bi bi-briefcase"></i></a></div>
                        <h4 class="title"><a href="#davideo">Learn More</a></h4>
                        <p class="description">Learn more about how our mission is helping us make an impact on Utah's communities.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="zoom-in">
                    <div class="box">
                        <div class="icon"><a asp-area="" asp-controller="Home" asp-action="Location"><i class="bi bi-card-checklist"></i></a></div>
                        <h4 class="title"><a asp-area="" asp-controller="Home" asp-action="Location">Locations</a></h4>
                        <p class="description">Browse accident data by city, and view your cities score.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6" data-aos="zoom-in">
                    <div class="box">
                        <div class="icon"><a asp-area="" asp-controller="Home" asp-action="Crash"><i class="bi bi-bar-chart"></i></a></div>
                        <h4 class="title"><a asp-area="" asp-controller="Home" asp-action="Crash">Crashes</a></h4>
                        <p class="description">Browse the raw database to find your own insights.</p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action">
        <div class="container">
            <div class="row" data-aos="zoom-in">
                <div class="col-lg-9 text-center text-lg-start">
                    <h3 class="cta-title">Have Something to Contribute?</h3>
                    <p class="cta-text">Creating a safer road for our state is a community effort. If you want to help make that happen you can sign up for a free account today to get started.</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" asp-area="Identity" asp-page="/Account/Register">Sign-Up Today</a>
                </div>
            </div>

        </div>
    </section><!-- End Call To Action Section -->
    <!-- ======= Team Section ======= -->
    <section id="team">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h3 class="section-title">Team</h3>
                <p class="section-description">Meet our anayltics and development team</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <div class="pic">
                            <img src="~/img/INTEX2Photos/Keanna.jpg" />
                        </div>
                        <h4>Keanna Nabrotzky</h4>
                        <span>Data Engineer</span>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <div class="pic"><img src="~/img/INTEX2Photos/jack.jpg" /></div>
                        <h4>Jackson Washburn</h4>
                        <span>Infrastructure Developer</span>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="300">
                        <div class="pic">
                            <img src="~/img/INTEX2Photos/Jessie.jpg" />
                        </div>
                        <h4>Jessie Spencer</h4>
                        <span>Cloud Architect</span>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="400">
                        <div class="pic">
                            <img src="~/img/INTEX2Photos/Josh.png" />
                        </div>
                        <h4>Josh Rencher</h4>
                        <span>Chief Security Officer</span>
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Team Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact">
        <div class="container">
            <div class="section-header">
                <h3 class="section-title">Contact</h3>
                <p class="section-description">We would love to hear from you. Please reach out with any comments, questions, or concerns. </p>
            </div>
        </div>

        <!-- Uncomment below if you wan to use dynamic maps -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3045.0757608909366!2d-111.65150428449574!3d40.25184757357451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d90bc4aa0b68d%3A0xbf3eb3a3f30fdc4c!2sBrigham%20Young%20University!5e0!3m2!1sen!2sus!4v1649402327683!5m2!1sen!2sus" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div class="container mt-5">
            <div class="row justify-content-center">

                <div class="col-lg-3 col-md-4">

                    <div class="info">
                        <div>
                            <i class="bi bi-geo-alt"></i>
                            <p>Brigham Young University<br>Provo, Utah USA</p>
                        </div>

                        <div>
                            <i class="bi bi-envelope"></i>
                            <p>contact@saferutah.com</p>
                        </div>

                        <div>
                            <i class="bi bi-phone"></i>
                            <p>+1 556 664 8897</p>
                        </div>
                    </div>

                    <div class="social-links">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>

                </div>

                <div class="col-lg-5 col-md-8">
                    <div class="form">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                            <div class="form-group mt-3">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
<!-- ======= Facts Section ======= -->
@*<section id="facts">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h3 class="section-title">Facts</h3>
                <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
            </div>
            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Clients</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="534" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Projects --- woooow</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Hours Of Support</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Hard Workers</p>
                </div>

            </div>

        </div>
    </section>*@
<!-- End Facts Section -->
