@{
    ViewData["Title"] = "Locations";
}

@model LocationViewModel

<main style="padding-top: 80px;">
    <section id="services">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h3 class="section-title">@ViewData["Title"]</h3>
                <p class="section-description">The factors that play a role in increasing the siverity of accidents vary significantly by area.<br />Our models can predict how severe the next accident in a city will be, and what factors are the most likly to impact it the most.<br />These automated pages gather the most relivant data for each city and provide it in a convienient way.</p>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-3 text-center">
                <form asp-controller="Home" asp-action="Location">
                    <p>
                        Search by City: <input type="text" name="searchString" class="form-control" />
                        <br />
                        <input type="submit" value="Find" class="btn btn-secondary" />
                    </p>
                </form>
                <img src="~/img/INTEX2Photos/location3img2.jpg" height="420" style="border-radius: 15px" /> @*Need to CSS a border-radius="15px" give IMG rounded corners*@
                <br />
                <small>(Yeet)</small>
            </div>

            <div class="col-9">
                @foreach (Location l in Model.Location)
                {
                    <div class="card card-outline-primary m-1 p-1">

                        <ul style="list-style-type: none;">
                            <li>City: @l.city</li>
                            <li><a asp-controller="Home" asp-action="LocationDetail" asp-route-locid="@l.loc_id" class="btn btn-secondary">View Details</a></li>

                        </ul>


                    </div>
                }
                <br />
                <div page-blah2="@Model.LocationPageInfo" page-action="Location" page-class="btn" page-class-normal="btn-outline-dark"
                     page-class-selected="btn-primary" page-classes-enabled="true" class="btn-group pull-right m-1"> <br /> </div>
                <br />
            </div>
        </div>
    </div>

