/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #31c693;
  border-color: #1861ac;
}

    .btn-primary:hover {
        background-color: #31c693;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  min-height: 100%
}

.consentBanner {
    position: fixed;
    bottom: 0px;
    right: 5%;
    z-index: 10;
}



.footer {
    /*position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    Vertically center the text there*/
    overflow: hidden;
}


.gauge {
    position: relative;
    border-radius: 50%/100% 100% 0 0;
    background-color: var(--color, #a22);
    overflow: hidden;
}

.gauge:before {
    content: "";
    display: block;
    padding-top: 50%; /* ratio of 2:1*/
}

.gauge .chart {
    overflow: hidden;
}

.gauge .mask {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    top: 40%;
    background-color: #fff;
    border-radius: 50%/100% 100% 0 0;
}

.gauge .percentage {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: 0;
    right: -1px;
    background-color: var(--background, #aaa);
    transform: rotate(var(--rotation));
    transform-origin: bottom center;
    transition-duration: 600;
}

.gauge:hover {
    --rotation: 100deg;
}

.gauge .value {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    text-align: center;
}

.gauge .min {
    position: absolute;
    bottom: 0;
    left: 5%;
}

.gauge .max {
    position: absolute;
    bottom: 0;
    right: 5%;
}